@charset "UTF-8";

#wrap {
	width: 100%;
	height: 100%;
	position: relative;
}

.mypage {
	position: relative;
	top: 50px;
	width: 100%;
	height: auto;
}

.mypage .container {
	width: 75%;
	height: 100%;
	margin: 0 auto;
	background: #00f;
}

.mypage .container .rightCon {
	float: right;
	width: 70%;
	height: 100%;
	box-sizing: border-box;
	padding: 0 20px;
	margin-bottom: 100px;
}

.mDelete {
	width: 100%;
	min-height: 330px;
	height: auto;
	background: #fff;
	margin: 0 auto;
	box-sizing: border-box;
	margin-bottom: 200px;
}

.mDelete ul li {
	margin: 0 auto;
	height: 60px;
	box-sizing: border-box;
	margin-bottom: 30px;
}

.mDelete ul li.top {
	width: 100%;
	height: 70px;
	margin-bottom: 50px;
}

.mDelete ul li.top h1 {
	text-align: center;
	font-weight: 100;
	font-size: 25px;
}

.mDelete ul li.top img {
	display: block;
	width: 100px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.mDelete ul li span {
	font-size: 14px;
}

.mDelete ul li input {
	width: 100%;
	height: 40px;
	display: block;
	margin: 0 auto;
	border: 1px solid #ccc;
	text-indent: 10px;
	margin-top: 10px;
}

.mDelete ul li:nth-child(3) {
	margin-bottom: 0;
}

.mDelete ul li:nth-child(3) input {
	font-size: 15px;
	height: 50px;
	line-height: 50px;
	text-indent: 0;
	cursor: pointer;
	margin-top: 0;
}