@charset "UTF-8";

*{
	margin:0; /*나와 부모또는 다른 태그와의 여백*/
	padding:0;/*나와 내 자식 컨텐츠와의 여백*/
}
html, body{
	width:100%;
	height:100%;
	font-family: 'Noto Sans KR', sans-serif;
}
input, select{
	font-family: 'Noto Sans KR', sans-serif;
}
ul,ol,li{
	list-style:none;
}
a{
	text-decoration:none;
	color:#000;
}
img{
    border: 0;
}
header, section, article, aside, footer, nav{
	display:block;
}