@charset "UTF-8";

#wrap {
	width: 100%;
	height: 100%;
	position: relative;
}

.twEdit {
	position: relative;
	top: 50px;
	width: 100%;
	height: auto;
	margin-bottom: 200px;
}

.twEdit .container {
	width: 75%;
	margin: 0 auto;
}

.twEdit .con ul li {
	margin: 0 auto;
	height: 50px;
	box-sizing: border-box;
	margin-bottom: 15px;
}

.twEdit .con .ttl {
	width: 100%;
	height: 40px;
	border-bottom: 2px solid #c10000;
	margin-bottom: 50px;
	margin-top: 10px;
}

.twEdit .con .ttl h1 {
	font-weight: 100;
	float: left;
	font-size: 25px;
}

.twEdit ul li span {
	font-size: 15px;
	text-align: center;
	float: left;
	diaplay: block;
	background: #c10000;
	color: #fff;
	width: 11%;
	height: 100%;
	line-height: 50px;
}

.twEdit ul li input[type=text], textarea{
	width: 89%;
	height: 50px;
	display: block;
	margin: 0 auto;
	border: 1px solid #ccc;
	text-indent: 10px;
	float: right;
	box-sizing: border-box;
}

.twEdit ul li input:reaaonly {
	background: #fff;
	font-size: 15px;
	font-weight: bold;
}

.twEdit ul li:nth-child(6) {
	height: 400px;
}

.twEdit ul li:nth-child(6) span {
	line-height: 400px;
}

.twEdit ul li:nth-child(6) textarea {
	height: 100%;
	padding: 10px;
	text-indent: 0;
}

.tWrite ul li.image {
	position: relative;
	height: 30px;
	width: 400px;
}

/* li.image label {
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

li.image input[type="file"] { 파일 필드 숨기기
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
} */

.twEdit ul li:last-child {
	padding-top: 10px;
}

.twEdit ul li:last-child input {
	display: block;
	font-size: 16px;
	width: 13%;
	height: 45px;
	line-height: 45px;
	text-indent: 0;
	cursor: pointer;
	float: right;
	margin-left: 15px;
	background: #8a0000;
	color: #fff;
	border:0;
}

.twEdit ul li:last-child input:hover {
	font-weight: bold;
}